{% extends "page.html" %}

{% block content %}

<form method="POST" novalidate>

    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-md-6 mb-3">
            {{form.name.label}}
            {% if form.name.errors %} 
                {{form.name(class="form-control is-invalid", id="name")}}
                <div class="invalid-feedback">
                    {{form.name.errors[0]}}
                </div>
            {% else %}
                {{form.name(class="form-control")}}
            {% endif %} 
                
        </div>

        <div class="col-md-6 mb-3">
            {{ form.course_id.label }}
            {% if form.course_id.errors %}
                {{form.course_id(class="form-control is-invalid", id="course_id") }}
                <div class = "invalid-feedback">
                    {{form.course_id.errors[0]}}
                </div>
            {% else %} 
                {{form.course_id(class="form-control", id="course_id")}}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.max_students.label }}
            {% if form.max_students.errors %}
                {{form.max_students(class="form-control is-invalid", id="max_students") }}
                <div class = "invalid-feedback">
                    {{form.max_students.errors[0]}}
                </div>
            {% else %} 
                {{form.max_students(class="form-control", id="max_students")}}
            {% endif %}
        </div>

        <div class="col-md-6 mb-3">
            {{ form.min_hour_certificate.label }}
            {% if form.min_hour_certificate.errors %}
                {{form.min_hour_certificate(class="form-control is-invalid", id="min_hours_certificate") }}
                <div class = "invalid-feedback">
                    {{form.min_hour_certificate.errors[0]}}
                </div>
            {% else %} 
                {{form.min_hour_certificate(class="form-control", id="min_hours_certificate")}}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            {{form.description.label}}

            {{form.description(class="form-control")}}
        </div>
       
    </div>

    <button class="btn" type="submit" style="background-color: #E26F98; color:white;">Aggiungi Corso</button>

</form>

{% endblock content %}