{% extends "page.html" %}

{% block content %}
    <h1>
        <center>
            {{ course.Name }} - {{ course.CourseID }} 
            {% if "Student" in roles and course.OpenFeedback == True and can_send == True %} 
                <a href="/courses/{{course.CourseID}}/feedback">
                    <button type="button" class="btn" style="background-color: #F3A65E; border-color: #F3A65E; color: white"> Invia feedback! </button>
                </a>
            {% elif is_professor == True and can_modify == True %} 
                <a href="/courses/{{course.CourseID}}/get_feedback">
                    <button type="button" class="btn" style="background-color: #F3A65E; border-color: #F3A65E; color: white"> Leggi feedback studenti! </button>
                </a> 
            {% endif %}
        </center>
    </h1>


    <nav class="nav nav-pills flex-column flex-sm-row">
        <a href="/courses/{{ course.CourseID }}" class="nav-link active" style="background-color: #723cb0">
            <i class="bi bi-arrow-right-circle"></i> Docenti e informazioni
        </a>

        <a href="/courses/{{ course.CourseID }}/lessons" class="nav-link" style="color: #723cb0">
            <i class="bi bi-arrow-right-circle"></i>
            Lezioni
        </a>

        <a href="/courses/{{ course.CourseID }}/forum" class="nav-link" style="color: #723cb0">
            <i class="bi bi-arrow-right-circle"></i>
            Forum
        </a>

    </nav>

    <div class="tab-content border border-2 border-start-0 border-end-0 border-bottom-0 mt-3" style="border-color: #723cb0 !important">


        <br><br>


        <h5>
            Docenti 
            <!-- Button trigger modal -->
            {% if "Professor" in roles %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Aggiungi collaboratori
            </button>
            
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Inserisci email collaboratori</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <input type="text" class="form-control" id="email_prof" />
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="add_professor('{{course.CourseID}}')">Aggiungi</button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
        </h5>
        <hr/>
        <ul class="list-group d-inline-block" id="profs">
            {% for p in prof %}
                <li class="list-group-item">{{ p.Name }} {{ p.Surname }}</li>
            {% endfor %}
        </ul>
        <hr/>

        <br><br>

        <h5>
            Informazioni Corso

            {% if is_professor and can_modify %}


                <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #f7c42c; border-color: #f7c42c"
                        data-bs-target="#changeCourseInfo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16" style="height:15px; width:15px; color:white">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                    </svg>
                </button>

                <form method="post" style="display:inline">
                    {{ form.hidden_tag() }}
                    <div class="modal fade" id="changeCourseInfo" tabindex="-1" aria-labelledby="changeCourseInfo"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="changeCourseInfo">Modifica informazioni</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="font-weight : normal">

                                    {{ form.max_students.label }}
                                    {{ form.max_students(class="form-control", value=course.MaxStudents) }}
                                    <div class="invalid-feedback" id="invalid-feedback-max-students"
                                         style="display : none">
                                        Numero minimo studenti 0 (per indicare nessun limite)
                                    </div>

                                    <br><br>

                                    {{ form.min_hour_certificate.label }}
                                    {{ form.min_hour_certificate(class="form-control", value=course.MinHourCertificate) }}

                                    <div class="invalid-feedback" id="invalid-feedback-hour-certificate"
                                         style="display : none">
                                        Le ore devono essere almeno 0!
                                    </div>

                                    <br><br>

                                    {{ form.description.label }}
                                    <textarea id="description" name="description"
                                              class="form-control"> {{ course.Description }} </textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #d1d1d1; color: white">Chiudi
                                    </button>
                                    <input type="button" class="btn" value="Salva Modifiche"
                                           name="changeSubmit" id="changeSubmit" style="background-color: #E26F98; color: white"> </input>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            {% endif %}

        </h5>


        <hr/>

        <div class="list-group-item">
            <a {% if can_modify %} href="/courses/{{course.CourseID}}/students" class="link-dark"{% endif %}>
                <strong> Iscritti attuali: </strong>
            </a>


            {{ subs }}/{% if course.MaxStudents == 0 %}-{% else %}{{ course.MaxStudents }}{% endif %}

            {% if current_user.is_authenticated and "Student" in roles %}
                <span style="display : inline-block; margin-left: 40px">
                    {% if subs == course.MaxStudents and course.MaxStudents > 0 and iscritto == False%}
                        <button class="btn btn-danger disabled" disabled>Iscrizioni piene</button>
                    {% else %}
                        <button class="btn"
                                data-bs-toggle="modal" data-bs-target="#subscription", style="color: white; background-color :{% if iscritto %} #9b54e3 {% else %} #F3A65E {% endif %}; border-color :{% if iscritto %} #9b54e3 {% else %} #F3A65E {% endif %}"
                                {% if subs == course.MaxStudents and not iscritto and course.MaxStudents > 0 %} disabled {% endif %}>
                        {% if iscritto %} Disiscriviti! {% else %} Iscriviti! {% endif %}
                        </button>
                    {% endif %}
                </span>

                <div class="modal fade" id="subscription" tabindex="-1" aria-labelledby="subscription"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="subscription"> {% if iscritto %} Vuoi davvero disiscriverti
                                    dal corso? {% else %} Sei sicuro di iscriverti? {% endif %} </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #d1d1d1; color: white">No</button>
                                <a href="/courses/action/{{ course.CourseID }}?{% if iscritto %}sub=true{% else %}sub=false{% endif %}">
                                    <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #E26F98; color: white">Si</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}



            <br><br>

            <strong>Descrizione Corso: </strong><br>
            {{ course.Description }} <br><br>

            {% if course.MinHourCertificate %}
                Per ottenere l'attestato di partecipazione al corso, lo studente dovrà seguire almeno
                <strong>{{ course.MinHourCertificate }} </strong> ore di lezione.
            {% else %}
                Non sono neccessarie ore di frequenza obbligatorie per ottenere l'attestato di partecipazione!
            {% endif %}
        </div>

        <hr/>

        {% if is_professor and can_modify %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <button type="button" class="btn" style="background-color: {% if course.OpenFeedback %}#9b54e3{% else %}#F3A65E{% endif %}; border-color: {% if course.OpenFeedback %}#9b54e3{% else %}#F3A65E{% endif %}; color: white " data-bs-toggle="modal"
                        data-bs-target="#studentFeedback"> {% if course.OpenFeedback %} Vuoi chiudere i
                    feedback? {% else %} Vuoi aprire i feedback? {% endif %} </button>

                <div class="modal fade" id="studentFeedback" tabindex="-1" aria-labelledby="studentFeedback"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="studentFeedback"> {% if course.OpenFeedback %} Vuoi chiudere
                                    i feedback? {% else %} Vuoi aprire i feedback? <br><br> <p style="font-size: medium;"> I certificati verrano mandati agli studenti che rispettano le condizioni automaticamente </p>{% endif %}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #d1d1d1; color: white">No</button>
                                {{ form.submit(class="btn btn-primary", value = "Chiudi" if course.OpenFeedback else "Apri") }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
        <br><br>

    </div>

    <script>

        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);

                }
            }
        });

        function add_professor(course_id) {
            let email = $('#email_prof').val()
          
            $.ajax({
                url : '/courses/'+course_id+'/addprof?email=' + email,
                type : 'post',
                success : function(data) {
                    if (data['success'] == true) {
                        let name = data['name'];
                        let surname = data['surname'];
                        $('#profs').append('<li class = "list-group-item">' + name + " " + surname + "</li>")
                    } 
                } 
            })
        }

        $("#changeSubmit").click(() => {
            let max_students = $("#max_students");
            let min_hour = $("#min_hour_certificate");

            if (max_students.val() >= 0 && min_hour.val() >= 0) {
                $("#changeSubmit").attr("type", "submit");
                return;
            }

            if (max_students.val() < 0) {
                max_students.addClass("is-invalid");
                $("#invalid-feedback-max-students").show();
            } else {
                max_students.removeClass("is-invalid");
                $("#invalid-feedback-max-students").hide();
            }

            if (min_hour.val() < 0) {
                min_hour.addClass("is-invalid");
                $("#invalid-feedback-hour-certificate").show();
            } else {
                min_hour.removeClass("is-invalid");
                $("#invalid-feedback-hour-certificate").hide();
            }

        });


    </script>

{% endblock content %}