{% extends "page.html" %}

{% block content %}

    <h1> 
        <center>
            {{course.Name}} - {{course.CourseID}} 
        </center>
    </h1>
    <hr/>
    <h5> 
        Docenti 
    </h5>
    <ul class="list-group d-inline-block">
        {% for p in prof %}
            <li class="list-group-item">{{p.Name}} {{p.Surname}}</li>
        {% endfor %}
    </ul>
    <hr/>
    
    <br><br>
    
    <h5> 
        Informazioni Corso 
    
        {% if is_professor %}
            {{form.hidden_tag()}}

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" style="height:15px;width:15px">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg>
            </button>
        
        <form method="post", style="display:inline">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modifica informazioni</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="font-weight : normal">
                        
                            {{ form.description.label() }}
                            <br><br>
                            <textarea id="description" name="description" class="form-control"> {{course.Description}} </textarea>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                            <button type="submit" class="btn btn-primary">Salva modiche</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}
        
    </h5>
        
    

    <hr/>

    <div class="list-group-item">
       <a {% if canModify %} href = "/subs" class="link-dark"{% endif %}>
            <strong> Iscritti attuali: </strong> 
        </a>
        

        {{subs}}/{{course.MaxStudents}} - ISCRIVITI!<br><br>
        
        <strong>Descrizione Corso: </strong><br>
        {{course.Description}} <br><br>
        
         Per ottenere l'attestato di partecipazione al corso, lo studente dovrà seguire almeno <strong >{{course.MinHourCertificate}} </strong> ore di lezione.
    </div>

    <hr/>

    





    
{% endblock content %}