{% extends "page.html" %}

{% block content%}

{% if not no_student %}
    <div id="piechart" data-id="{{course_id}}" style="width: 900px; height: 500px;"></div>

    <div id="bar_chart" style="width: 1350px; height: 700px;"></div>

    <div id="piechart-2" data-id="{{course_id}}" style="width: 900px; height: 500px;"></div>

    <div id="bar_chart-2" style="width: 900px; height: 500px;"></div>

    <div id="hours_att" style="width: 900px; height: 500px;"></div>

    <!-- <img src="https://res.cloudinary.com/hcti/image/fetch/c_limit,f_auto,q_auto:good,w_400/https://docs.htmlcsstoimage.com/assets/images/cat.png"> -->

<script type="text/javascript">
    
    let course_id = $('#piechart').data('id');

    

    $.ajax({
        type : 'get',
        url : '/courses/action/get/student_gender?course_id='+course_id,
        success : function(data) {
            
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

       
            function drawChart() {
        
                var my_data = google.visualization.arrayToDataTable([
                    ['Gender', "Gender studenti"],
                    ['Maschi',  data["Male"]],
                    ['Femmine',  data["Female"]],
                    ['Non-Binary',  data["Non-Binary"]],
                    ['Altro', data["Other"]]
                ]);

                var options = {
                 
                    title: 'Gender medio studenti iscritti',
                    slices : {
                        0 : {
                            color : '#C14D9C'
                        },
                        1 : {
                            color : '#E26F98'
                        },
                        2 : {
                            color: '#F3A65E'
                        },
                        3: {
                            color: '#EDCB61'
                        }
                    }
                  
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(my_data, options);
            }
        },

        error : function() {
            console.log("errore")
        }

    });

    $.ajax({
        type : 'get',
        url : '/courses/action/get/region?course_id='+course_id,
        success : function(data) {
         
            region = data['Regioni']
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
                var my_data = google.visualization.arrayToDataTable([
                    ['Regioni', 'Percentuale studenti', {role: 'style'}],
                    ['Abruzzo', region['Abruzzo'], '#5D2F92'],
                    ['Basilicata', region['Basilicata'], '#C14D9C'],
                    ['Calabria', region['Calabria'], '#E26F98'],
                    ['Campania', region['Campania'], '#F3A65E'],
                    ['Emilia-Romagna', region['Emilia-Romagna'], '#EDCB61'],
                    ['Friuli Venezia-Giulia', region["Friuli-Venezia Giulia"], '#F3A65E'],
                    ['Lazio', region['Lazio'], '#E26F98'],
                    ['Liguria', region['Liguria'], '#C14D9C'],
                    ['Lombardia', region['Lombardia'], '#5D2F92'],
                    ['Marche', region['Marche'], '#C14D9C'],
                    ['Molise', region['Molise'], '#E26F98'],
                    ['Piemonte', region['Piemonte'], '#F3A65E'],
                    ['Puglia', region['Puglia'], '#EDCB61'],
                    ['Sardegna', region["Sardegna"], '#F3A65E'],
                    ['Sicilia', region["Sicilia"], '#E26F98'],
                    ['Toscana', region["Toscana"], '#C14D9C'],
                    ['Trentino Alto-Adige', region["Trentino"], '#5D2F92'],
                    ['Umbria', region["Umbria"], '#C14D9C'],
                    ["Val D'Aosta", region["Valle"], '#E26F98'],
                    ['Veneto', region["Veneto"], '#F3A65E']

                ]);
                
                
                var options = {
                    title: 'Studenti regioni',
                    vAxis : {
                        format:'0',
                        // ticks: [0, 10, 20, 30, 40, 50]
                    }
         
                                                 
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('bar_chart'));
                chart.draw(my_data, options);
            }
        }
    })

    $.ajax({
        type : 'get',
        url : '/courses/action/get/school?course_id='+course_id,
        success : function(data) {
            
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

    
            function drawChart() {
        
                var my_data = google.visualization.arrayToDataTable([
                    ['SchoolType', "Tipologia di Istituto"],
                    ['Liceo',  data["Liceo"]],
                    ['Istituto Tecnico',  data["Tecnico"]],
                    ['Professionale',  data["Professionale"]],
                    ['Altro', data["Altro"]]
                ]);

                var options = {
                 
                    title: 'Tipologia di istituto di provenienza',
                    slices : {
                        0 : {
                            color : '#C14D9C'
                        },
                        1 : {
                            color : '#E26F98'
                        },
                        2 : {
                            color: '#F3A65E'
                        },
                        3: {
                            color: '#EDCB61'
                        }
                    }
                  
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart-2'));
                chart.draw(my_data, options);
            }
        }
    });


    $.ajax({
        type : 'get',
        url : '/courses/action/get/mean_age?course_id='+course_id,
        success : function(data) {
         
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            
            let ages = data['ages']

            const table = [["Età studenti", "Numero Studenti", {role: 'style'}]];

            function drawChart() {
                
                for (let i = data['min']; i <= data['max']; i++) {
                    const row = [];
                    let ts = i.toString()
                    row.push(ts + " Anni")
                    if (ages[i] == undefined || ages[i] ==  null) {
                        row.push(0)
                    
                    }else {
                        row.push(ages[i])
                        
                    }
                    row.push('#5D2F92')
                    table.push(row)  
                }

             
                var my_data = google.visualization.arrayToDataTable(table)
    
                var options = {
                    title: 'Età studenti',
                    vAxis : {
                        format:'0',
                        // ticks: [0, 10, 20, 30, 40, 50]
                    }
               
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('bar_chart-2'));
                chart.draw(my_data, options);
            }
        }
    });

    $.ajax({
        type : 'get',
        url : '/courses/action/get/hours_attended?course_id='+course_id,
        success : function(data) {
            
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                
                const table = [["Ore di lezione seguite", "Numero studenti", {role: 'style'}]]
                
                for (const [key, value] of Object.entries(data['hours_attended'])) {
                    let row = []
                   
                    row.push(key.slice(0, 3) + " Ore")
                    row.push(value)
                    row.push('#F3A65E')
                    table.push(row)
                }

                var my_data = google.visualization.arrayToDataTable(table);
                var options = {
                 
                    title: 'Grafico degli studenti che hanno seguito le lezioni',
                    vAxis : {
                        format:'0',
                        // ticks: [0, 10, 20, 30, 40, 50]
                    }   
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('hours_att'));
                chart.draw(my_data, options);
            }
        }
    });


    
   
  </script>

  {% else %} 

  <h5>Non ci sono iscritti</h5>

  {% endif %}


{% endblock %}