{% extends "page.html" %} 

{% block content %}

    <table class="table" style="background-color: #ae8bc9; color : white">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Valutazione media al corso</th>
            <th scope="col">Valutazione media all'insegnante</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color : #e8def0; color : black;">
            {% if avg_grades.CourseGrade != None %}
                <th scope="row">1</th>
                <td> {{"%.2f" | format(avg_grades.CourseGrade)}} </td>
                <td> {{"%.2f" | format(avg_grades.TeacherGrade)}} </td>
            {% endif %}
        </tr>
        </tbody>
    </table>


    
        <table class="table" style="background-color: #ae8bc9; color : white">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Commenti</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(comments | length) %} 
               
                <tr style="background-color: {% if loop.index % 2 == 0 %} #e8def0 {% else %} #e8d7f5 {% endif %}; color : black">
                    <th scope="row">{{i+1}}</th>
                    <td> {{comments[i].Comment }} </td>
                </tr>
                
            {% endfor %}

            </tbody>
        </table>
  

{% endblock content %}