{% extends "page.html" %}

{% block content %}
    <style>
        .card-header {
            cursor : pointer;
        }
    </style>
    <h1>
        <center>
            {{course.Name}} - {{course.CourseID}}
        </center>
    </h1>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert-{{category}}">
                        <li> {{ message }} </li>
                        </div>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a href="/courses/{{course.CourseID}}" class="nav-link">

            <i class="bi bi-arrow-right-circle"></i> Docenti e informazioni
        </a>

        <a href="/courses/{{course.CourseID}}/lessons" class="nav-link active">
            <i class="bi bi-arrow-right-circle"></i>
            Lezioni
        </a>

        <a href="/courses/{{ course.CourseID }}/forum" class="nav-link">
            <i class="bi bi-arrow-right-circle"></i>
            Forum
        </a>

    </nav>

    <div class="tab-content border border-primary border-2 border-start-0 border-end-0 border-bottom-0 mt-3">
        <br><br>

        <br><br>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vuoi davvero eliminare la lezione? <br> Questa azione è irreversibile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger modal-button-delete" data-bs-dismiss="modal">Elimina</button>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" novalidate>
            {{form3.hidden_tag()}}
            <input type="number" id="lesson_id" name = "lesson_id" style="display : none" /> 
            <div class="modal fade" id="changeLessonInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vuoi davvero modificare la lezione? </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body" style="font-weight : normal">
                            {{form3.date_update.label}}
                            {{form3.date_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_date_feedback" {% if form3.date_update.errors %} style="display: none" {% endif %}>La data deve essere valida!</div>

                            {{form3.start_time_update.label}}
                            {{form3.start_time_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_start_time_feedback" {% if form3.start_time_update.errors %} style="display: none" {% endif %}>L'orario di inizio deve essere valido</div>

                            {{form3.end_time_update.label}}
                            {{form3.end_time_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_end_time_feedback" {% if form3.end_time_update.errors %} style="display: none" {% endif %}>L'orario di fine deve essere valido</div>

                            {{form3.lesson_type_update.label}}
                            {{form3.lesson_type_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_lesson_type_feedback" {% if form3.lesson_type_update.errors %} style="display: none" {% endif %}>La modalità di erogazione non è valida</div>

                            {{form3.classroom_update.label}}
                            {{form3.classroom_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_end_time_feedback" {% if form3.classroom_update.errors %} style="display:none" {% endif %}>L'aula non è valida</div>

                            {{form3.link_update.label}}
                            {{form3.link_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_link_feedback" {% if form3.link_update.errors %} style="display: none" {% endif %}>Inserisci il link</div>

                            {{form3.password_update.label}}
                            {{form3.password_update(class="form-control")}}
                            <div class="invalid-feedback" id="invalid_password_feedback" {% if form3.password_update.errors %} style="display: none"{% endif %}>Inserisci la password</div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="button" id="submit_update" name="submit_update" value="Salva modifiche" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal" id="qrCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class = "modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        QRCode
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body float-end" id="qrcode">
                        <p></p>
                        <canvas id="qrcode-2">
    
                        </canvas>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger modal-button-success" data-bs-dismiss="modal">Salva QRcode</button>
                    </div>
                </div>
            </div>
        </div>

        {% if (list_lessons | length) == 0 %}
        Non ci sono lezioni disponibili
        {% else %}
            <ul class="list-group">
                {% for i in range(list_lessons | length) %}



                    <li class="list-group-item justify-content-between align-items-end" id="lesson-number-{{ list_lessons[i].LessonID }}">
                        {% if is_professor and can_modify %}

                            <div class="modal fade" id="modalTopicLesson-{{i}}" tabindex="-1" aria-labelledby="modalTopicLessonLabel-{{i}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTopicLesson-{{i}}">Modifica Argomento e Materiali (HTML TAG DISPONIBILI)</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body info-{{i}}">
                                            <textarea class="form-control" style="white-space: normal; height: 200px" id="textarea-information-course-{{i}}" data-lessonid="{{list_lessons[i].LessonID}}">{{list_lessons[i].Topic}}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                            <button type="button" class="btn btn-primary changeTopicLesson" data-value="{{i}}" data-bs-dismiss="modal">Salva Modifiche</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="float-end" data-lesson="{{list_lessons[i].LessonID}}">
                                <button name="button_to_delete" type="button" class="btn btn-danger btn-sm btn_to_delete_lesson" data-bs-toggle="modal" data-bs-target="#exampleModal">X</button>
                            </div>
                            {% if is_professor and can_modify %} 
                                <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#qrCodeModal" style="background-color: #734b92" onclick="set_modal({{list_lessons[i].LessonID}}, '{{list_lessons[i].Token}}')">
                                    <i class="bi bi-qr-code"></i>
                                </button> 

                                <button type="button" class="btn btn-secondary update_lesson" data-bs-toggle="modal" data-lesson = "{{list_lessons[i].LessonID}}"
                                    data-bs-target="#changeLessonInfo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor"
                                        class="bi bi-pencil" viewBox="0 0 16 16" style="height:15px;width:15px">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                    </svg>
                                </button>
                            
                            {% endif %}
                        {% endif %}
                        <div class="ms-2 me-auto card-header cursore" data-bs-toggle="collapse" data-bs-target="#collapse-{{i}}" aria-expanded="true" aria-controls="#collapse-{{i}}" data-parent="#card-scheda-2">
                            <i class="indicator bi float-start fs-6 me-2 bi-chevron-up" id="simbolo-freccia-{{i}}"></i>
                            <h5 class="mb-0 card-title">
                                Lezione {{i+1}} {% if list_lessons[i].Name == None %} - (Online) {% endif %}
                               
                            </h5>
                            <br>
                            <strong>&emsp;&ensp;Data &ensp; :</strong> {{list_lessons[i].Date.strftime('%d-%m-%Y')}} <br>
                            <strong>&emsp;&ensp;Orario :</strong>  {{list_lessons[i].StartTime.strftime('%H:%M')}} - {{list_lessons[i].EndTime.strftime('%H:%M')}} <br>
                            {% if list_lessons[i].Name != None %} <strong>&emsp;&ensp;Aula &ensp; :</strong>  {{list_lessons[i].Name}} - Edificio {{list_lessons[i].Building}}<br> {% endif %}
                            {% if list_lessons[i].IsDual == True or list_lessons[i].Name == None %} 
                            <strong> &emsp;&ensp;Link&ensp; :</strong> {{list_lessons[i].RoomLink}} <br> 
                            <strong> &emsp;&ensp;Password&ensp; :</strong> {{list_lessons[i].RoomPassword}}
                            {% endif %}

                        </div>

                        <div id="collapse-{{i}}" class="collapse show" style="word-wrap : break-word;">
                            &emsp;&emsp;
                            <div class="card-body">
                                <p style="margin-left : 32px">
                                

                                    <strong> Argomento e Materiali : </strong>
                                    &emsp;
                                    {% if is_professor and can_modify %}
                                        <button type="button" class="btn btn-primary change-topic-lesson" style="font-size : 75%" data-bs-toggle="modal" data-bs-target="#modalTopicLesson-{{i}}">
                                            <i class="bi bi-pencil" style="font-size : 95%"></i>
                                        </button>
                                    {% endif %}
                                    <br>
                                </p>

                                <p style="margin-left : 32px; white-space:pre" id="lesson-topic-{{i}}" class="p-topic-card-body">{{ list_lessons[i].Topic }}</p>
                            </div>
                        </div>
                    </li>


                {% endfor %}
            </ul>
        </div>
    {% endif %}



    <br><br>


    {% if is_professor and can_modify %}


    <div class="card tit-no-border espansione" id="dopdown-button">
        <div class="card-header cursore" data-bs-toggle="collapse" data-bs-target="#collapse-form" aria-expanded="true" aria-controls="#collapse-form" data-parent="#card-scheda-2">
            <i class="indicator bi float-start fs-6 me-2 bi-chevron-down" id="simbolo-freccia"></i>
            <h5 class="mb-0 card-title"> Aggiungi Lezioni </h5>
        </div>
        <div id="collapse-form" class="collapse{% if form.errors.items() or form2.errors.items() %} show{% endif %}">
            <div class="card-body">
                <form method="POST" id="form-lesson-add" novalidate>
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form.date.label}}
                            {% if form.date.errors %}
                                {{form.date(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.date.errors[0]}}
                                </div>
                            {% else %}
                                {{form.date(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form.classroom.label}}
                            {% if form.classroom.errors %}
                                {{form.classroom(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.classroom.errors[0]}}
                                </div>
                            {% else %}
                                {{form.classroom(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form.start_time.label}}
                            {% if form.start_time.errors %}
                                {{form.start_time(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.start_time.errors[0]}}
                                </div>
                            {% else %}
                                {{form.start_time(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form.end_time.label}}
                            {% if form.end_time.errors %} 
                                {{form.end_time(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.end_time.errors[0]}}
                                </div>
                            {% else %} 
                                {{form.end_time(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{form.topic.label}}
                            {% if form.topic.errors %}
                                {{form.topic(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.classroom.errors[0]}}
                                </div>
                            {% else %}
                                {{form.topic(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{form.type_lesson.label}}
                            {% if form.type_lesson.errors %}
                                {{form.type_lesson(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.type_lesson.errors[0]}}
                                </div>
                            {% else %}
                                {{form.type_lesson(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form.link.label}}
                            {% if form.link.errors %}
                                {{form.link(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.link.errors[0]}}
                                </div>
                            {% else %}
                                {{form.link(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form.password.label}}
                            {% if form.password.errors %}
                                {{form.password(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form.password.errors[0]}}
                                </div>
                            {% else %}
                                {{form.password(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Conferma" name="submit_button"/>
               
                </form>

                <hr/>
                <form method="POST" novalidate>
                    <h4> Aggiungi più lezioni insieme </h4><br><br> 

                    {{form2.hidden_tag()}}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form2.start_date_2.label}}
                            {% if form2.start_date_2.errors %}
                                {{form2.start_date_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.start_date_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.start_date_2(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form2.end_date_2.label}}
                            {% if form2.end_date_2.errors %}
                                {{form2.end_date_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.end_date_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.end_date_2(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form2.start_time_2.label}}
                            {% if form2.start_time_2.errors %}
                                {{form2.start_time_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.start_time_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.start_time_2(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form2.end_time_2.label}}
                            {% if form2.end_time_2.errors %}
                                {{form2.end_time_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.end_time_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.end_time_2(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{form2.classroom_2.label}}
                            {% if form2.classroom_2.errors %}
                                {{form2.classroom_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.classroom_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.classroom_2(class="form-control")}}
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{form2.lesson_type_2.label}}
                            {% if form2.lesson_type_2.errors %}
                                {{form2.lesson_type_2(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {{form2.lesson_type_2.errors[0]}}
                                </div>
                            {% else %}
                                {{form2.lesson_type_2(class="form-control")}}
                            {% endif %}
                        </div>
                    </div>
                    
                    <input type="submit" class="btn btn-primary" value="Conferma" name="submit_lessons"/>

                </form>
            </div>
        </div>
    </div>
    
    {% endif %}
    <br><br>

    
    <script type="text/javascript">

            
        
        "{% if is_professor and can_modify %}"

            var csrf_token = "{{ csrf_token() }}";
        "{% else %}"

            var csrf_token = null;
        "{% endif %}"

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);

                }
            }
        });
        
        $('.update_lesson').on('click', function() {
            let info = $(this).data("lesson");
            $('#changeLessonInfo').data("lesson", info);
            console.log(info)
            
        })

        $('#submit_update').on("click", function() {
             let info = $('#changeLessonInfo').data("lesson");
             $("#lesson_id").val(info);
             $(this).attr("type", "submit");

        });
        
        $('.changeTopicLesson').on('click', function() {
            let lesson_index = $(this).data("value");
            let text_area_object = $('#textarea-information-course-'+ lesson_index);
            let lesson_topic = text_area_object.val();
            let lesson_id = text_area_object.data("lessonid")
            lesson_topic = lesson_topic.replace(/<script/ig , "");
            lesson_topic = lesson_topic.replace(/script>/ig , "");
            
        

            $.ajax({
                type : "post",
                url : '/action/lessons?action=modify_topic&lesson_id='+lesson_id,
                // headers : { 'topic':lesson_topic },
                data : {"topic" : lesson_topic},

                success : function(data) {
                    if ( data['success'] == true ) {
                  
                        
                        $("#lesson-topic-"+lesson_index).html(lesson_topic)
                    }
                    else console.log("errore errorino")

                },
                error : function(data) {
                    console.log(data)
                }
            })
        });


        function set_modal(lesson_id, token) {
            new QRious({
                element: document.getElementById("qrcode-2"),
                background: '#ffffff',
                backgroundAlpha: 1,
                foreground: 'black',
                foregroundAlpha: 1,
                level: 'H',
                padding: 30,
                size: 480,
                value: token
            });

            $('#qrcode').attr("title", "")
        }
        

        $('.btn_to_delete_lesson').on('click', function () {
            let info = $(this).parent().data("lesson");
            $("#exampleModal").data("lesson", info);
            // let doc = document.getElementById("lesson-topic-0").innerHTML
            //console.log(doc.replaceAll("&lt;", "<").replaceAll('&gt;', '>'))
        });
        
        

         $('.modal-button-delete').on('click', function() {

             let info = $('#exampleModal').data("lesson");
                $.ajax({
                    type:'post',
                    url : '/action/lessons?action=delete&lesson_id='+info,
                    
                     //il current user viene preso direttamente da flask usando la variabile globale
                    //current_user, il corso a cui fa riferimento è facilmente ottenibile con la variabile info (che rappresenta l'id del corso)

                    success : function(data) {
                        if (data['success'] == true) {
                            $('#lesson-number-'+info).remove();
                        }
                        else console.log("ERRROE")

                    },

                    error : function(data) {
                        console.log(data['status'])
                        console.log('non hai i permessi adatti');
                    }

                });
         });

        $(".collapse").on("hidden.bs.collapse", function() {
            // $(this).toggleClass("bi-chevron-up").toggleClass("bi-chevron-down");  
            if ($(this).attr('id') == 'collpase-form') {
                $('#simbolo-freccia').toggleClass("bi-chevron-up").toggleClass("bi-chevron-down");
            } else {
                let index = $(this).attr('id').substring($(this).attr('id').indexOf('-')+1);
                $('#simbolo-freccia-'+index).toggleClass("bi-chevron-up").toggleClass("bi-chevron-down");
            }
        });

        $(".collapse").on("shown.bs.collapse", function() {
            // $(this).toggleClass("bi-chevron-up").toggleClass("bi-chevron-down"); 

            if ($(this).attr('id') == 'collapse-form') {
                $('#simbolo-freccia').toggleClass("bi-chevron-up").toggleClass("bi-chevron-down");
            } else {
                let index = $(this).attr('id').substring($(this).attr('id').indexOf('-')+1);
                $('#simbolo-freccia-'+index).toggleClass("bi-chevron-up").toggleClass("bi-chevron-down");
            }
        });

    </script>
    <script src="/static/lessons.js"></script>
{% endblock %}