<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DaisPCTO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <style>
    body {
      /* background-color: rgb(53, 54, 58) !important;
      color : white !important; */
      background-color: white;
    }

    .center {
      margin: auto;
      width: 50%;

      padding: 10px;
    }

    .navbar {
      background-image: linear-gradient(-90deg, #EDCB61, #F3A65E, #bb3ecc, #5D2F92)
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="{{url_for('static', filename='logo2.png')}}" class="img-responsive" width="50" height="50">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="/">Home</a>
          </li>
          {% if "QrReader" not in roles %}
          <li class="nav-item">
            <a class="nav-link {% if '/courses/' in request.path %} active {% endif %}" href="/courses"> Corsi </a>
          </li>
          {% endif %}
          {% if "Student" in roles %}
          <li class="nav-item">
            <a href="/lessons/reservations"
              class="nav-link {% if request.path == '/lessons/reservations' %} active {% endif %}">Prenotazioni</a>
          </li>
          {% endif %}
          {% if "Student" in roles or "QrReader" in roles %}
          <li class="nav-item">
            <a href="/qr" class="nav-link {% if request.path == '/qr' %} active {% endif %}"> Registra Presenza</a>
          </li>
          {% endif %} 
          {% if "Admin" in roles %}
          <li class="nav-item">
            <a href="/register/professor" class="nav-link {% if request.path == '/qr' %} active {% endif %}"> Registra Professore</a>
          </li>
          {% endif %}
   
          <li class="nav-item dropdown end-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {% if user.is_authenticated %}
              {{user.Name}}
              {% else %}
              Account
              {% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated == False %}
              <li><a class="dropdown-item" href="/register">Register</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              {% endif %}

              {% if user.is_authenticated %}
              <li> <a href="/logout" class="dropdown-item">Logout</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              
              {% if "Student" in roles %} <li><a class="dropdown-item" href="/courses/certificates"> I Miei Certificati</a></li> {% endif %}
              {% endif %}
            </ul>
          </li>
          {% if "Professor" in roles or "Admin" in roles %}
          <li class="nav-item">
           
            <a class="nav-link {% if request.path == '/courses/add' %} active {% endif %}" aria-current="page"
              href="/courses/add"> Aggiungi Corso </a>
      
          </li>
          {% endif %}
        </ul>
        {% block searchbar %}

        {% endblock %}
      </div>
    </div>
  </nav>


  <div class="container">

    {% if request.path == '/' %}
    <style>
      body {
        background-color: rgb(237, 235, 235);
      }
    </style>
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages and messages[0][1] == "Presenza confermata con successo" %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{messages[0][1]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% elif messages and ( messages[0][1] == "Il professore di riferimento ha ricevuto una mail di conferma contenente la password." or messages[0][1] == "Sei già loggato!" ) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{messages[0][1]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
      {% endwith %}


    {% block home_page %} 
    {% if user.is_authenticated %}
      <img src="{{user.email | gravatar }}" class="rounded-circle shadow-1-strong me-3" height="300" width="300" alt="avatar" style="position : relative; top : 100px; left : 50px;">
      <div class="list-group" style="position : absolute; top : 240px; left : 750px; font-size: large;">
        <p style="font-size: xx-large;"><strong>{{user.Name}} {{user.Surname}}</strong> -- {% if "Professor" in roles %} Professor {% elif "Student" in roles %} Student {% elif "QrReader" in roles %} QrReader {% elif "Admin" in roles %} Admin {% endif %}</p>
        <p > <strong>E-Mail :</strong> {{user.email}}</p>
        {% if "Student" in roles %}
          {% set student_info = user | get_student_info %}
          <p ><strong>Data di Nascita :</strong> {{student_info[0]}} </p>
          <p ><strong>Città di Provenienza :</strong> {{student_info[2]}} </p>
          <p ><strong>Scuola di Provenienza :</strong> {{student_info[1]}}</p>
        {% endif %}

        <!-- <button class="btn" style="background-color: #F3A65E; border-color: #F3A65E; color : white;">Modifica Profilo!</button> -->

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#profileModal" style="background-color: #F3A65E; border-color: #F3A65E; color : white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor"
          class="bi bi-pencil" viewBox="0 0 16 16" style="height:15px; width:15px; color:white">
         <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
     </svg> Modifica Password!</button>
        
        <!-- Modal -->

        <form method="post">
          <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label for="oldpassword">Inserisci la password attuale</label>
                  <input type = "password" placeholder="password attuale" class="form-control" name="oldpassword" id="oldpassword" />
                  <br>
                  <label for="oldpassword">Inserisci la nuova password</label>
                  <input type = "password" placeholder="nuova password" class="form-control" name="newpassword" id="newpassword" />
                  <br>
                  <label for="oldpassword">Re-Inserisci la nuova password</label>
                  <input type = "password" placeholder="nuova password" class="form-control" name="newpassword2" id="newpassword2" />

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #d1d1d1; color: white">Chiudi
                  </button>
                  <input type="submit" class="btn" value="Salva Modifiche"
                        name="changeSubmit" id="changeSubmit" style="background-color: #E26F98; color: white"> </input>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    {% endif %}
    {% endblock %}

    {% else %}

      {% block content %}
          
      {% endblock %}
    {% endif %}
   
  </div>
</body>

</html>