{% extends "page.html" %}

{% block content %}

<form method='POST' novalidate>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert-{{category}}">
                        <li> {{ message }} </li>
                        </div>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-md-4 mb-3">
            {{ form.name.label }}
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class = "invalid-feedback">
                    {{form.name.errors[0]}}
                </div>
            {% else %} 
                {{ form.name(class="form-control")}}
            {% endif %}
        </div>
        <div class="col-md-4 mb-3">
            {{ form.surname.label }}
            {% if form.surname.errors %}
                {{ form.surname(class="form-control is-invalid") }}
                <div class = "invalid-feedback">
                    {{form.surname.errors[0]}}
                </div>
            {% else %}
                {{ form.surname(class="form-control") }}
            {% endif %}

        </div>
        <div class="col-md-4 mb-3">
            {{ form.gender.label }}
            {% if form.gender.errors %}
                {{ form.gender(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {{ form.gender.errors[0]}}
                </div>
            {% else %} 
            {{form.gender(class="form-control")}}
            {% endif %}
        
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.email.label }}
            <div class="input-group mb-3">
                <label class="input-group-text" for="email">@</label>
                {% if form.email.errors %}
                    {{form.email(class="form-control is-invalid", id="email")}}
                    <div class="invalid-feedback">
                        {{form.email.errors[0]}}
                    </div>
                {% else %}
                    {{form.email(class="form-control", id="email")}}
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 mb-3">
            {{ form.repeat_email.label }}
            <div class="input-group mb-3">
                <label class="input-group-text" for="repeat_email">@</label>
                {% if form.repeat_email.errors %} 
                    {{form.repeat_email(class="form-control is-invalid", id="repeat_email")}}
                    <div class="invalid-feedback">
                        {{form.repeat_email.errors[0]}}
                    </div>
                {% else %}
                    {{ form.repeat_email(class="form-control", id="repeat_email") }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.address.label }}
            {% if form.address.errors %} 
                {{ form.address(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{ form.address.errors[0] }}
                </div>
            {% else %}
                {{form.address(class="form-control")}}
            {% endif %}
        </div>

        <div class="col-md-6 mb-3">
            {{ form.student_city.label }}
            {% if form.student_city.errors %} 
                {{ form.student_city(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{ form.student_city.errors[0] }}
                </div>
            {% else %}
                {{form.student_city(class="form-control")}}
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.password.label }}
            {% if form.password.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{form.password.errors[0]}}
                </div>
            {% elif form.repeat_password.errors %}
                {{form.password(class="form-control is-invalid")}}
            {% else %}
                {{form.password(class="form-control")}}
            {% endif %}
           
        </div>

        <div class="col-md-6 mb-3">
            {{ form.repeat_password.label }}
            {% if form.repeat_password.errors %}
                {{form.repeat_password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{form.repeat_password.errors[0]}}
                </div>
            {% else %}
                {{form.repeat_password(class="form-control")}}
            {% endif %}
        </div>
    </div>


    <div class="row"> 
        <div class="col-md-6 mb-3">
            {{form.phone.label}}
            {% if form.phone.errors %}
                {{form.phone(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{form.phone.errors[0]}}
                </div>
            {% else %} 
                {{form.phone(class="form-control")}}
            {% endif %}
        </div>


        <div class="col-md-6 mb-3">
            {{form.birth_date.label}}
            {% if form.birth_date.errors %}
                {{form.birth_date(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {{form.birth_date.errors[0]}}
                </div>
            {% else %}
                {{form.birth_date(class="form-control")}}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.school_name.label }}
            {{form.school_name(class="form-control selectpicker")}}
            
            <ul class="list-group" id="list-group-schools" style="max-height : 300px; overflow-y: scroll;">
                
            </ul>
            
        </div>
    
        <div class="col-md-6 mb-3">
            {{form.school_year.label}}
            {{form.school_year(class="form-control")}}
        </div>
    </div>
    
      <input type="text" name="school_id" id="school_id" value = "" style="display : none;" /> 

      <button class="btn btn-success" type="submit">Registrati</button>
    
</form>

<script>
    
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1200;  //time in ms, 5 seconds for example
    var $input = $('#school_name');

    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //on keydown, clear the countdown 
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });

    //user is "finished typing," do something
    function doneTyping () {
        $('#list-group-schools').empty()
    //do something
        let nome = $('#school_name').val()
       

            $.ajax({
                type : 'get',
                url : '/action/get/schools?name='+nome,
                success : function (data){
                    if (data["success"]) {
                       
                        for (let i = 0; i < data["result"].length; i++) {
                            $('#list-group-schools').append("<li class='list-group-item list-group-item-action'\
                            onclick='set_data_student_school(" + 
                            data["result"][i]["School_id"] +")' id='" + data["result"][i]["School_id"] + "'" + "style='cursor : pointer;'>" + 
                            data["result"][i]["School_name"] + " (" + data["result"][i]["School_city"]+")" + "</li>")   
                        } 
                        
                    }                 
                },             
            });
    }

    function set_data_student_school(id) {
        $('#school_name').val($('#'+id).text())
        $('#list-group-schools').empty()
        let a = $('#school_id').val(id)
        console.log($('#school_id').val())

        
        // $('#school_id').val(id)
        // console.log($('#school_id').val())
    }
</script>

{% endblock content %}
    

