{% extends "page.html" %}

{% block content %}
    
    <div class="alert alert-success" role="alert" style="display : none">
        Prenotazione avvenuta con successo
        <button type="button" class="btn-close float-end" id="btn-close-succ"></button>
    </div>

    <div class="alert alert-danger" id="success-remove" role="alert" style="display : none">
        Prenotazione cancellata con successo
        <button type="button" class="btn-close float-end" id="btn-close-dan-classroom"></button>
    </div>

    <div class="alert alert-danger classroom-error" role="alert" style="display : none">
        Aula piena
        <button type="button" class="btn-close float-end" id="btn-close-dan"></button>
    </div>

    <div class="alert alert-danger already-reserved-error" role="alert" style="display : none">
        Hai già scannerizzato questa prenotazione, non puoi cancellarla
        <button type="button" class="btn-close float-end" id="btn-close-dan-2"></button>
    </div>

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a href="/lessons/reservations" class="nav-link {% if request.path == '/lessons/reservations' %} active" {% endif %}>
            <i class="bi bi-arrow-right-circle"></i> Prenotazione Future
        </a>

        <a href="/lessons/reservations/private"
        class="nav-link{% if request.path == '/lessons/reservations/private' %} active {% endif %}">
            <i class="bi bi-arrow-right-circle"></i>
            Le mie Prenotazioni
        </a>

    </nav>

    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class = "modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    QRCode
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body float-end" id="qrcode">
                    <p></p>
                    <canvas id="qrcode-2">

                    </canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger modal-button-success" data-bs-dismiss="modal">Salva QRcode</button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content border border-primary border-2 border-start-0 border-end-0 border-bottom-0 mt-3"><br><br>

        <div class="container-fluid">
            <div class="row">
                
                {% for s in subs_list %}
                    
                    {% set is_bookable = s | can_be_booked(lessons_seats_reserved) %}
                    
                    {% if s.StudentID == -1 and request.path == '/lessons/reservations' %}
                        
                        
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-3" id = "lesson-{{s.LessonID}}" style="max-width: 634px;">
                            <div class="card border-dark">
                                <div class="card-header text-white text-center border-dark" style="background-color: #ae8bc9;">
                                    <h4 class="card-title">{{ s.CourseName }}</h4>
                                </div>
                                <div class="card-body border-dark">
                                    <p class="card-text" stytle="white-space:pre;"><strong> Aula       :</strong> {{s.Name}} - Edificio {{s.Building}} </p>
                                    <p class="card-text" stytle="white-space:pre;"><strong> Data       :</strong> {{s.Date.strftime('%d-%m-%Y')}} </p>
                                    <p class="card-text" stytle="white-space:pre;"><strong> Orario     :</strong> {{s.StartTime.strftime('%H:%M')}} - {{s.EndTime.strftime('%H:%M')}} </p>  
                                </div>
                                <div class="card-footer">
                                    {% if is_bookable[0] %} 
                                        <button class="btn text-white" style="background-color: #491570" onclick="add_reservation({{s.LessonID}})">Prenota Posto in Aula</button>
                                    {% else %}
                                        <button class="btn text-white" style="background-color: #230837c6 !important; cursor : not-allowed !important"> Posti pieni </button>
                                    {% endif %}
                                    <p class="float-end"><strong>Posti disponibili :</strong> {{s.Seats - is_bookable[1]}} / {{s.Seats}}</p>
                                </div>
                            </div>
                        </div>
                       
                    {% elif s.StudentID >= 0 and request.path == '/lessons/reservations/private' %} 
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-3" id="lesson-{{s.LessonID}}" style="max-width: 634px;">
                            <div class="card border-dark">
                                <div class="card-header text-white text-center border-dark" style="background-color: #ae8bc9;">
                                    <h4 class="card-title">{{ s.CourseName }}<button class="btn text-white float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #734b92" onclick="set_modal({{s.LessonID}}, '{{s.ReservationID}}')"><i class="bi bi-qr-code"></i></button> </h4> 
                                </div>
                                <div class="card-body border-dark">
                                    <p class="card-text" stytle="white-space:pre;"><strong> Aula       :</strong> {{s.Name}} - Edificio {{s.Building}} </p>
                                    <p class="card-text" stytle="white-space:pre;"><strong> Data       :</strong> {{s.Date.strftime('%d-%m-%Y')}} </p>
                                    <p class="card-text" stytle="white-space:pre;"><strong> Orario     :</strong> {{s.StartTime.strftime('%H:%M')}} - {{s.EndTime.strftime('%H:%M')}} </p>  
                                </div>
                                <div class="card-footer">
                                    <button class="btn text-white" style="background-color: #491570" onclick="delete_reservation({{s.LessonID}})">Annulla Prenotazione</button>
                                    <p class="float-end"><strong>Posti disponibili :</strong> {{s.Seats - is_bookable[1]}} / {{s.Seats}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}              
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    var csrf_token = "{{ csrf_token() }}";
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);

            }
        }
    });

    function delete_reservation(lesson_id) {
        $.ajax({
            type : 'POST',
            url : '/action/lessons?action=delete_reservation&lesson_id='+lesson_id,
            success : function(data) {
                if (data['success'] == true) {
                    // $('#lesson-'+lesson_id).css("visibility", "hidden")
                    $('#lesson-'+lesson_id).remove()
                    $('#success-remove').slideDown();
                    // setTimeout(() => {  $('#lesson-'+lesson_id).remove(); }, 1000);
                    
                }  else {
                    $('.already-reserved-error').slideDown()
                }
            },
        });
    }

    function set_modal(lesson_id, token) {
        new QRious({
            element: document.getElementById("qrcode-2"),
            background: '#ffffff',
            backgroundAlpha: 1,
            foreground: 'black',
            foregroundAlpha: 1,
            level: 'H',
            padding: 30,
            size: 480,
            value: token
        });

        $('#qrcode').attr("title", "")
    }

    $('#btn-close-succ').on('click', function() {
        $('.alert-success').slideUp();
    })

    $('#btn-close').on('click', function() {
        $('.alert-danger').slideUp();
        $('.classroom-error').slideUp();
    })

    
    $('#btn-close-dan-2').on('click', function() {
        $('.already-reserved-error').slideUp()
    })
    

    
    $('#btn-close-dan-classroom').on('click', function() {
        $('#success-remove').slideUp();
    })
    

    function add_reservation(lesson_id) {
        $.ajax({
            type : 'POST',
            url : '/action/lessons?action=reservation&lesson_id='+lesson_id,
            success : function(data) {
                if (data['success'] == true) {
                    // $('#lesson-'+lesson_id).css("visibility", "hidden")
                    $('#lesson-'+lesson_id).remove()
                    $('.alert-success').slideDown();
                    // setTimeout(() => {  $('#lesson-'+lesson_id).remove(); }, 1000);
                }else {
                    $('.classroom-error').slideDown();
                }
            }   
        });
    }
</script>

{% endblock %}