{% extends "page.html" %} 


{% block content %} 

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Città di provincia</th>
        <th scope="col">Data di nascita</th>
    </tr>
    </thead>
    <tbody>
    
        {% for s in students %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td> {{s.Surname}} </td>
            <td> {{s.Name}} </td>
            <td> {{s.City}}  </td>
            <td> {{s.birthDate}}  </td>
        {% endfor %}
        </tr>
    
    </tbody>
</table>



{% endblock content %}