{% extends "page.html" %}

{% block content %} 

    <div id="reader">
        <input type="file" id="qr-input-file" accept="image/*">
        <!-- 
        Or add captured if you only want to enable smartphone camera, PC browsers will ignore it.
        -->
        

        <input type="file" id="qr-input-file" accept="image/*" capture>

        
    </div>
    
    <script type="text/javascript">
        
        
        var csrf_token = "{{ csrf_token() }}";
        let fps_now = 20

        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);

                        }
                    }
        });

        function onScanSuccess(decodedText, decodedResult) {
            
  // handle the scanned code as you like, for example:
            fps_now = 0;
            $.ajax({
                type : "POST",
                url : '/action/lessons?action=formalize&lesson_id=1&token='+decodedText,
            })

            setTimeout(set_fps, 300);
                  
        }

        function set_fps() {
            fps_now = 30;
        }

        function onScanFailure(error) {
            console.log(error)
            
        }

        let html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: fps_now, qrbox: {width: 500, height: 500} }, /* verbose= */ false);

        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>    

{% endblock content %} 