
.alert-notpassed {
  color: red
}

.alert-passed {
  color: green
}

.form-group.has-error.required input {
  border-color: red;
}

.form-group.has-error.required .help-block {
  color: red;
}